/* 

    popup


*/

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition:0.3s;
    transform: scale(1);
  }
  
  .popup__content{
    position: absolute;
    top:50%;
    left:50%;
    width:90%;
    height: 55rem;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    padding:1.6rem;
    display:table;
    overflow: hidden;
    background-color:var(--white)
  }
  
  .popup__close{
    display:flex;
    align-items:center;
    justify-items: center;
    position: absolute;
    top:2rem;
    right:2rem;
    padding:1.5rem;
    background-color: var(--primaryColor);
    border-radius: 50%;
    cursor: pointer;
  
  }
  
  .popup__close svg{
    width:1.7rem;
    height: 1.7rem;
  }
  
  .popup__right{
    display:table-cell;
    width:50%;
    height: 100%;
    vertical-align: middle;
    padding:3rem 5rem;
  
  }
  
  .popup__left{
    display:table-cell;
    width:50%;
    height: 50%;
    vertical-align: middle;
    padding:3rem 5rem;
  
  }
  .popup-img__container{
    width:100%;
    overflow: hidden;
  }
  
  .popup-img__container img.popup__img{
    display:block;
    width:60rem;
    height: 45rem;
    max-width: 100%;
    border-radius: 1rem;
    object-fit:cover;
  
  }
  
  .right__content{
    text-align:center;
    width:85%;
    margin: 0 auto ;
  
  }
  
  .right__content h1{
    font: weight 4rem;
    columns: #000;
    margin-bottom: 1.6rem;
  }
  
  .right__content h1 span{
    color:var(--green);
  
  }
  
  .right__content p {
    font-size:  1.8rem;
    margin-bottom: 1.60rem;
    color: var(--grey2);
  }
  
  
  .popup__form {
    width: 100%;
    padding:2rem 0;
    text-indent: 1rem;
    margin-bottom: 1.6rem;
    border-radius: 3rem;
    background-color: var(--primaryColor);
    border:none;
  }
  
  .popup__form:focus {
    outline: none;
  }
  
  .right__content a:link,
  
  .right__content a:visited{
    display: inline-block;
    padding: 1.8rem 5rem;
    border-radius: 3rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--grey2);
    -webkit-transition: .3s;
    transition: .3s;
  }
  .right__content a:hover{
    background-color: var(--black2);
    border: 1px solid var(--grey2);
    color: var(--black);
  }
  
  .hide__popup {
    transform: scale(0.2);
    opacity: 0;
    visibility: hidden;
  }
/* pop up 

      media query  */
@media only screen and (max-width:1200px){
        .right__content{
          width: 100%;
        }
      
        .right__content h1{
          font-size: 3.5rem;
          margin-bottom: 1.3rem;
        }
      }
      
@media only screen and (max-width:999px){
        .popup__right{
          width: 100%;
        }
        .popup__left{
          display:none;
        }
      
        .right__content h1{
          font-size: 5rem;
      
        }
      }
      
      @media only screen and (max-width:768px){
        .right__content h1{
          font-size: 4rem;
      
        }
      
        .right__content p {
          font-size: 1.6rem;
        }
      
        .popup__form {
          width: 90%;
          margin: 0 auto;
          padding:  1.8rem 0;
          margin-bottom:  1.5rem;
        }
      
      
        .goto-top:link,
        .goto-top:visited{
          right: 5%;
          bottom:5%;
        }
      
      }
      
      @media only screen and (max-width:568px){
        .popup__right{
          padding:0 1.6rem;
        }
      
        .right__content{
          width: 100%;
        }
      
        .popup__content{
          height: 35rem;
          width: 90%;
          margin: 0  auto;
      
        }
      
        .right__content h1 {
          font-size:  3rem;
        }
        .right__content p {
          font-size:  1.4rem;
        }
      
        .popup__form{
          width: 100%;
          padding: 1.5rem 0;
          margin-bottom:  1.3rem;
        }
      
      
        .right__content a:link,
        .right__content a:visited{
          padding: 1.5rem 3rem;
        }
      
        .popup__close{
          top: 1rem;
          right: 1rem;
          padding: 1.3rem
        }
      
        .popup__close svg{
          width: 1.4rem;
          height: 1.4rem;
        }
      
      }
      